th {
  text-align: center;
}

.cursor {
  cursor: pointer;
}

p {
  color: #bf1650;
}

p::before {
  display: inline;
}

i {
  cursor: pointer;
}

div.btn-right {
  text-align: right;
}

div.auto-center-form {
  margin-right: auto;
  margin-left: auto;
}

.bgc-white {
  background-color: white;
}

.height-56 {
  height: 56px;
}

#combo-box-demo {
  color: grey;
}
