i {
  cursor: pointer;
}

div.btn-right {
  text-align: right;
}

div.auto-center-form {
  margin-right: auto;
  margin-left: auto;
}

.bgc-white {
  background-color: white;
}

.form-control {
  height: 56px;
}

#combo-box-demo {
  color: grey;
}
